{# @var pagination \Knp\Component\Pager\Pagination\PaginationInterface #}

{% extends '@EasyAdmin/default/layout.html.twig' %}
{% set _content_title = 'Translation list' %}
{% block page_title -%}
    {{ _content_title }}
{%- endblock %}
{% block content_header %}
    <div class="input-group">
        <input class="form-control" type="search" name="query" value="">
        <span class="input-group-btn">
            <button class="btn" type="submit" formtarget="_self">
                <i class="fa fa-search"></i>
                <span class="hidden-xs hidden-sm">Search</span>
            </button>
        </span>
    </div>
{% endblock %}
{% block main %}

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ _content_title }}</h3>
        </div>

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Key</th>
                    <th>Default Value</th>
                    {% for locale in locales %}
                        <th>{{ locale.name }}</th>
                    {% endfor %}
                </tr>

                {# @var message \App\Entity\Message #}
                {% for message in pagination %}
                    <tr>
                        <td>{{ message.key }}</td>
                        <td>
                            <i class="fa fa-fw fa-angle-double-left"></i>
                            {{ message.defaultValue }}
                            <i class="fa fa-fw fa-angle-double-right"></i>
                        </td>
                        {% for locale in locales %}
                            {% set translation = message.translationByLocale(locale) %}
                            <td>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon translator-status">
                                        <i class="fa fa-check"></i>
                                    </span>
                                        <input
                                            type="text"
                                            class="form-control translator-field"
                                            {% if translation|default %}
                                                value="{{ translation.value }}"
                                                placeholder="{{ translation.value }}"
                                            {% endif %}
                                            {% if translation|default and translation.validated == true %}
                                                disabled
                                            {% endif %}
                                        >
                                        <span class="input-group-btn">

                                        {% if not translation|default or translation.validated == false %}
                                            <button
                                                    type="button"
                                                    class="btn btn-info btn-flat translator-field-btn"
                                                    data-message-key="{{ message.key }}"
                                                    data-message-locale="{{ locale.code }}"

                                            >
                                                <i class="fa fa-fw fa-floppy-o"></i>
                                            </button>
                                        {% endif %}

                                    </span>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



        <div class="box-footer">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascript %}
    <script>
        {# Display star when state change #}
        $('.translator-field').on('keyup', function () {
            const form = $(this).parent();
            const status = form.find('.translator-status');
            const btn = form.find('.translator-field-btn');

            status.html('<i class="fa fa-exclamation-circle"></i>')
        });

        {# handle translations save #}
        $('.translator-field-btn').on('click', function () {
            const btn = $(this);
            const form = btn.parent().parent();
            const status = form.find('.translator-status');

            const data = {
                key: btn.data('message-key'),
                locale: btn.data('message-locale'),
                value: btn.parent().parent().find('.translator-field').val()
            };

            status.html('<i class="fa fa-refresh"></i>');


            $.ajax({
                url: '{{ url('admin_save_translation') }}',
                method: 'post',
                data: data,
                dataType: 'json'
            })
            .done(function () {
                status.html('<i class="fa fa-check"></i>');
            })
            .fail(function () {
                status.html('<i class="fa fa-remove"></i>');
            });

            console.log(data);
        });

    </script>
{% endblock body_javascript %}